<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Exercise - Blake Hagen</title>
</head>

<body>

<div style="padding-left: 20px;">
  <h3><%= name %> (<%= gender %>)</h3>
  <p>Birth Year: <%= birth_year %></p>
  <p>Height: <%= height %></p>
  <p>Mass: <%= mass %></p>
  <p>Eye Color: <%= eye_color %></p>
  <p>Skin Color: <%= skin_color %></p>
</div>

</body>
</html>